@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.second-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.description {
  font-size: 22px;
  line-height: 26px;
}

.button-brown {
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-blue{
  background: #82B3D3;
  padding: 8px 20px;
}

.button-green {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.reset-styles {
  margin: 0;
  padding: 0;
}

/* Header */

.page-header {
  height: 64px;
  padding: 0 70px;
}

.logo {
  position: absolute;
  z-index: 2;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  width: 339px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 170px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  padding-top: 4px;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-link {
  height: 64px;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  display: block;
}

.navigation-search {
  width: 44px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}

.navigation-favorite {
  background-image: url(../img/favorite.svg);
  background-repeat: no-repeat;
  width: 44px;
}

.favorite-count {
  display: inline-block;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 5px;
  position: relative;
  bottom: 18px;
  right: 3px;
}

.navigation-button {
  padding: 8px 34px;
  border-style: none;
}

/* Main */

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.promo {
  height: 485px;
  background-image: url(../img/index-background.jpg);
  background-color: #DDEBF4;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.promo::after {
  content: "";
  width: 100%;
  height: 57px;
  background-image: url(../img/divider.svg);
  position: absolute;
  display: block;
  bottom: 0%;
}

.promo-image {
  padding-top: 51px;
  padding-bottom: 82px;
}

.sedona-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 69px;
  padding-bottom: 90px;
}

.sedona-title {
  width: 690px;
  padding-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-block {
  width: 400px;
}

.advantages-block h3 {
  color: #ffffff;
}

.advantages-block h3::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(255, 255, 255, 0.3);
}

.advantages-block p {
  margin-top: 30px;
  color: #ffffff;
}

.advantages-title {
  width: 175px;
  margin: auto;
  margin-top: 92px;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
}

.advantages-description {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 121px;
}

.grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.sky-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.blue {
  background-color: rgba(130, 179, 211, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.blue:last-child {
  flex-direction: row-reverse;
}

.advantages-title-second {
  width: 175px;
  margin: auto;
  margin-top: 182px;
  text-transform: uppercase;
}

.advantages-description-second {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 81px;
}

.housing {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../img/icons/housing.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.food {
  background-color: #ffffff;
  background-image: url(../img/icons/food.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.gifts {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../img/icons/gifts.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.search {
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/email-background.jpg);
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.subscription-email {
  background-color: #f2f2f2;
  border-radius: 4px 0px 0px 4px;
  border-style: none;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subscription-button {
  background-color: #82B3D3;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
  border-radius: 0px 4px 4px 0px;
}

/* Footer */

.main-footer {
  padding: 40px 70px 30px 70px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.htmlacademy-logo {
  width: 115px;
  height: 33px;
  display: flex;
}

/* Hotels */

.hotels {
  height: 412px;
  display: flex;
  background-image: url(../img/filter-background.jpg);
  background-color: #8FB1CD;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.hotels-title {
  width: 495px;
  margin-left: 70px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.submit-button {
  background-color: #82B3D3;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 50px;
}

.reset-button {
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-style: none;
  text-transform: uppercase;
}

.sorting-title {
  margin-top: 57px;
  margin-left: 70px;
  margin-right: 201px;
}

.sorting-info {
  display: flex;
}

.sorting {
  width: 292px;
  height: 49px;
  margin-top: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  background-image: url(../img/icons/sort-down.svg);
  background-position: left 260px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.visual-sorting {
  display: flex;
  margin-top: 50px;
  margin-right: 70px;
  list-style-type: none;
}

.visual-item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.current-item {
  border: 2px solid #000000;
}

.table {
  background-image: url(../img/icons/table.svg);
  background-repeat: no-repeat;
}

.slide {
  background-image: url(../img/icons/slide.svg);
  background-repeat: no-repeat;
}

.list {
  background-image: url(../img/icons/list.svg);
  background-repeat: no-repeat;
}

.hotels-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-card {
  width: 340px;
  height: 438px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}

.hotel-card-link {
  text-decoration: none;
}

.button-info {
  padding: 8px 26px;
}

.button-favorite {
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.rating {
  background-image: url(../img/icons/star.svg);
  background-repeat: no-repeat;
}

.hotel-card-rating {
  width: 140px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 22px;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-link {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-current {
  background: #F2F2F2;
  color: inherit;
}
